.helptip {
	font-family: sans;
	max-width: 300px;
	background-color: #1e1f26;
    border-radius: 5px;
    padding: 8px 10px;
    color: #f6f6f6;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .02em;
    margin-top: 20px;
    animation: helptip-opacity 300ms ease-in-out;
}

@keyframes helptip-opacity {
  0% {  opacity: 0;  }
  50% {  opacity: .3;  }
  70% {  opacity: .5;  }
  100% {  opacity: 1;  }
}
